@charset "UTF-8";
a,
abbr,
address,
article,
aside,
audio,
big,
blockquote,
body,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dl,
dt,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
iframe,
img,
ins,
label,
legend,
li,
mark,
menu,
nav,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
summary,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

address {
  display: inline;
}

body {
  line-height: normal;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

a,
button,
div,
input,
select,
textarea {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent !important;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
}

a,
img,
label {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

input:focus {
  outline: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

input[type=button],
input[type=submit],
input[type=search],
input[type=reset],
input[type=number] {
  -webkit-appearance: none;
}

/* 去除谷歌浏览器自动填充背景颜色 */
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
  /*no*/
  background: none !important;
  color: inherit !important;
}

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
  font-size: inherit;
  color: #ccc;
}

input[type=text]:focus,
input[type=password]:focus,
button:focus,
textarea:focus {
  -webkit-box-shadow: 0 0 0 1000px transparent inset;
  /*no*/
  outline: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  /*no*/
  color: #333;
  background-color: #fff;
  font-family: "PingFang SC", "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑";
}

textarea {
  font-family: inherit;
  -webkit-appearance: none;
}

*,
*:after,
*:before {
  border: none;
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin: 0 auto;
}
.container .up-btn {
  display: block;
  width: 60px;
  height: 60px;
  background: #3E5FFF;
  border-radius: 30px;
  position: fixed;
  bottom: 200px;
  right: 20px;
  cursor: pointer;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.15);
}
.container .up-btn img {
  position: absolute;
  top: 25%;
  left: 50%;
  height: 60px;
  transform: translateX(-50%);
}
.container .section-1 {
  max-width: 1920px;
  height: 600px;
  margin: 0 auto;
  background: #0324C8;
}
.container .section-1 .nav-bar {
  width: 1080px;
  height: 80px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}
.container .section-1 .nav-bar .nav-list {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .section-1 .nav-bar .nav-list .list {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.container .section-1 .nav-bar .nav-list .list li {
  margin: 0 10px;
}
.container .section-1 .nav-bar .nav-list .signUp {
  margin-left: 60px;
  width: 100px;
  height: 36px;
  background: #ffffff;
  border-radius: 4px;
  text-align: center;
  line-height: 36px;
  font-size: 12px;
  color: #0324C8;
  cursor: pointer;
}
.container .section-1 .nav-bar .nav-list .user {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  padding-left: 30px;
}
.container .section-1 .nav-bar .nav-list .user img {
  width: 20px;
  height: 20px;
}
.container .section-1 .nav-bar .nav-list .user .name {
  padding-left: 10px;
}
.container .section-1 .content {
  width: 960px;
  margin: 0 auto;
  height: 520px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}
.container .section-1 .content .intro .title {
  font-size: 42px;
}
.container .section-1 .content .intro .en-desc {
  margin-top: 15px;
  font-size: 20px;
}
.container .section-1 .content .intro .desc {
  margin-top: 10px;
  font-size: 30px;
}
.container .section-1 .content .intro .in-signUp {
  width: 159px;
  height: 60px;
  line-height: 60px;
  background: #E13ED6;
  border-radius: 4px;
  text-align: center;
  margin-top: 35px;
  font-size: 20px;
  cursor: pointer;
}
.container .section-1 .content .intro .cp-intro {
  margin-top: 20px;
  font-size: 12px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}
.container .section-1 .content .intro .cp-intro img {
  margin-right: 30px;
}
.container .section-1 .content .icon {
  width: 500px;
  height: 440px;
}
.container .section-2 {
  max-width: 1920px;
  height: 220px;
  margin: 0 auto;
  background: #3150E7;
}
.container .section-2 .content {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #fff;
  height: 200px;
  line-height: 2;
}
.container .section-3 {
  max-width: 1920px;
  height: 400px;
  margin: 0 auto;
  background: #fff;
}
.container .section-3 .content {
  width: 900px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}
.container .section-3 .content .title {
  font-size: 30px;
}
.container .section-3 .content .intros {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 320px;
}
.container .section-3 .content .intros .item {
  height: 280px;
  display: flex;
  flex: 1;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  margin: 0 20px;
}
.container .section-3 .content .intros .item .icon {
  height: 80px;
  display: flex;
  align-items: center;
}
.container .section-3 .content .intros .item .tit {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  width: 150px;
}
.container .section-3 .content .intros .item .desc {
  font-size: 14px;
  color: #666;
}
.container .section-4 {
  max-width: 1920px;
  height: 240px;
  margin: 0 auto;
  background-image: url("../img/s_4_bg.6cc4f188.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.container .section-4 .content {
  width: 1080px;
  margin: 0 auto;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  height: 240px;
}
.container .section-4 .content .item {
  height: 120px;
  text-align: center;
  margin: 0 20px;
}
.container .section-4 .content .item .desc {
  font-size: 14px;
  margin-top: 15px;
}
.container .section-4 .content .item .tit {
  font-size: 18px;
}
.container .section-5 {
  max-width: 1920px;
  margin: 0 auto;
  height: 500px;
}
.container .section-5 .content {
  width: 900px;
  margin: 0 auto;
}
.container .section-5 .content .title {
  font-size: 30px;
  text-align: center;
  height: 120px;
  line-height: 120px;
}
.container .section-5 .content .intros {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  height: 300px;
}
.container .section-5 .content .intros .left {
  font-size: 30px;
  flex: 0 0 330px;
  width: 330px;
  margin-right: 100px;
}
.container .section-5 .content .intros .right .tit {
  font-size: 20px;
}
.container .section-5 .content .intros .right .desc {
  font-size: 14px;
  color: #666;
}
.container .section-5 .content .intros .right .mar {
  margin-top: 30px;
}
.container .section-6 {
  height: 400px;
  max-width: 1920px;
  background: #f5f5f5;
}
.container .section-6 .content {
  width: 900px;
  height: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .section-6 .content .left {
  font-size: 30px;
  width: 330px;
  flex: 0 0 330px;
  margin-right: 100px;
}
.container .section-6 .content .right .item {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 20px;
}
.container .section-6 .content .right .item .detail {
  text-align: center;
  margin-right: 50px;
}
.container .section-6 .content .right .item .num {
  font-size: 42px;
  color: #0324C8;
}
.container .section-6 .content .right .item .sub-desc {
  width: 90px;
  font-size: 14px;
  color: #666;
}
.container .section-6 .content .right .item .desc {
  font-size: 14px;
  color: #666;
}
.container .section-6 .content .right .item .desc span {
  padding-right: 20px;
}
.container .section-7 {
  max-width: 1920px;
  height: 650px;
  background: #fff;
}
.container .section-7 .content {
  width: 900px;
  margin: 0 auto;
  height: 650px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .section-7 .content .left {
  font-size: 30px;
  width: 360px;
  flex: 0 0 360px;
}
.container .section-7 .content .right .main-guest .title {
  font-size: 12px;
  color: #666;
  margin-bottom: 10px;
  text-indent: 30px;
}
.container .section-7 .content .right .main-guest .guests {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
}
.container .section-7 .content .right .main-guest .guests .item {
  padding: 0 20px;
  text-align: center;
  font-size: 12px;
}
.container .section-7 .content .right .main-guest .guests .item img {
  width: 112px;
  height: 112px;
  border-radius: 56px;
}
.container .section-7 .content .right .main-guest .guests .item .name {
  color: #09091A;
  padding-top: 10px;
  padding-bottom: 5px;
}
.container .section-7 .content .right .main-guest .guests .item .origanization {
  color: #666;
}
.container .section-7 .content .right .other-guest {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  font-size: 12px;
}
.container .section-7 .content .right .other-guest .tit {
  color: #666666;
  margin-bottom: 5px;
}
.container .section-7 .content .right .other-guest .item {
  flex: 1;
}
.container .section-7 .content .right .other-guest .item p {
  line-height: 2;
}
.container .section-7 .content .right .other-guest .item .name {
  color: #09091A;
}
.container .section-7 .content .right .other-guest .item .organization {
  color: #666666;
}
.container .section-8 {
  max-width: 1920px;
  height: 700px;
  background: #0324C8;
  margin: 0 auto;
}
.container .section-8 .content {
  margin: 0 auto;
  width: 900px;
}
.container .section-8 .content .title {
  font-size: 30px;
  text-align: center;
  height: 120px;
  line-height: 120px;
  color: #fff;
}
.container .section-8 .content .lists {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .section-8 .content .lists .item {
  width: 260px;
  height: 350px;
  background: #fff;
  border-radius: 4px;
  display: flex;
  justify-content: flex-start;
  align-items: start;
  flex-direction: column;
  padding-left: 20px;
  padding-top: 40px;
}
.container .section-8 .content .lists .item .icon {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin-bottom: 20px;
  padding-left: 20px;
}
.container .section-8 .content .lists .item .icon .tit {
  color: #314CCC;
  font-size: 18px;
  margin-top: 10px;
}
.container .section-8 .content .lists .item .desc {
  background: url("../img/icon_right.522a5d11.png") no-repeat 0px 10px;
  text-indent: 20px;
  line-height: 1.5;
  font-size: 14px;
  padding-right: 40px;
  padding-bottom: 15px;
}
.container .section-8 .content .match-con {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 200px;
  font-size: 30px;
}
.container .section-8 .content .match-con .sub-desc {
  margin-top: 30px;
  font-size: 18px;
  color: #7E90E9;
}
.container .section-9 {
  max-width: 1920px;
  height: 300px;
  margin: 0 auto;
  background-image: url("../img/s_9_bg.1dd55263.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #fff;
}
.container .section-9 .content {
  width: 900px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.container .section-9 .content .item {
  width: 350px;
  text-align: center;
}
.container .section-9 .content .item .title {
  font-size: 30px;
}
.container .section-9 .content .item .desc {
  margin-top: 30px;
  font-size: 14px;
}
.container .section-10 {
  max-width: 1920px;
  margin: 0 auto;
  height: 900px;
  background: #0324C8;
}
.container .section-10 .content {
  width: 900px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
}
.container .section-10 .content .title {
  padding-top: 30px;
  font-size: 30px;
  line-height: 2;
}
.container .section-10 .content .desc {
  font-size: 14px;
  color: #7E90E9;
}
.container .section-10 .content .date-list {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.container .section-10 .content .date-list .left {
  width: 220px;
  text-align: right;
  font-size: 24px;
}
.container .section-10 .content .date-list .left .level-1 {
  padding-top: 50px;
}
.container .section-10 .content .date-list .left .level-2 {
  padding-top: 30px;
}
.container .section-10 .content .date-list .left .level-3 {
  padding-top: 110px;
}
.container .section-10 .content .date-list .left .level-4 {
  padding-top: 140px;
}
.container .section-10 .content .date-list .middle {
  border-left: 2px solid #CA3783;
  height: 750px;
  position: relative;
}
.container .section-10 .content .date-list .middle .level-circle {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  border: 2px solid #fff;
  background: #0324C8;
  position: absolute;
  left: -7px;
}
.container .section-10 .content .date-list .middle .level-1 {
  top: 60px;
}
.container .section-10 .content .date-list .middle .level-2 {
  top: 120px;
}
.container .section-10 .content .date-list .middle .level-3 {
  top: 260px;
}
.container .section-10 .content .date-list .middle .level-4 {
  top: 430px;
}
.container .section-10 .content .date-list .middle .level-top {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  border: 1.5px solid #FFA956;
  position: absolute;
  background: #0324C8;
  left: -5px;
  top: -1px;
}
.container .section-10 .content .date-list .right {
  width: 520px;
  text-align: left;
}
.container .section-10 .content .date-list .right .level-1 {
  padding-top: 50px;
}
.container .section-10 .content .date-list .right .level-2 {
  padding-top: 20px;
}
.container .section-10 .content .date-list .right .level-3 {
  padding-top: 25px;
}
.container .section-10 .content .date-list .right .level-4 {
  padding-top: 45px;
}
.container .section-11 {
  max-width: 1920px;
  padding-bottom: 50px;
  background: #3150E7;
  margin: 0 auto;
}
.container .section-11 .content {
  width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container .section-11 .title {
  color: #fff;
  font-size: 30px;
  margin-bottom: 50px;
  margin-top: 30px;
  text-align: center;
}
.container .section-11 .answer {
  width: 1080px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .section-11 .answer .item {
  width: 320px;
  height: 234px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #5F7AFF;
  border-radius: 10px;
  color: #fff;
  position: relative;
}
.container .section-11 .answer .item .log {
  position: absolute;
  top: 2px;
  right: 2px;
}
.container .section-11 .answer .item .tit {
  line-height: 4;
  font-size: 14px;
}
.container .section-11 .answer .item .btn {
  width: 100px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  background: #E13ED6;
  border-radius: 4px;
  font-size: 12px;
}
.container .section-12 {
  max-width: 1920px;
  height: 650px;
  margin: 0 auto;
  background: #fff;
}
.container .section-12 .content {
  height: 600px;
  width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container .section-12 .content img {
  width: 900px;
}
.container .section-12 .content .title {
  font-size: 30px;
  padding-bottom: 60px;
}
.container .section-13 {
  max-width: 1920px;
  margin: 0 auto;
  height: 500px;
  background: #0324C8;
}
.container .section-13 .content {
  width: 980px;
  height: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  flex-direction: column;
  color: #fff;
}
.container .section-13 .content .title {
  font-size: 30px;
  margin-bottom: 30px;
}
.container .section-13 .content .company {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.container .section-13 .content .company .left {
  width: 486px;
  flex: 0 0 486px;
}
.container .section-13 .content .company .left .tit {
  font-size: 30px;
  margin-bottom: 60px;
}
.container .section-13 .content .company .left .intros {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 420px;
}
.container .section-13 .content .company .left .intros .item {
  width: 170px;
  text-align: center;
}
.container .section-13 .content .company .left .intros .item .sub-tit {
  font-size: 30px;
  margin-bottom: 15px;
}
.container .section-13 .content .company .right {
  width: 480px;
  font-size: 14px;
}
.container .section-13 .content .company .right .item {
  margin-top: 30px;
}
.container .footer {
  height: 100px;
  line-height: 100px;
  color: #fff;
  text-align: center;
  max-width: 1920px;
  margin: 0 auto;
  background: #000;
}

.modal-wrap, .modal-capture, .modal-state {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
}
.modal-wrap .state-success, .modal-wrap .state-fail, .modal-capture .state-success, .modal-capture .state-fail, .modal-state .state-success, .modal-state .state-fail {
  width: 500px;
  height: 300px;
  background: #fff;
  padding: 20px 40px;
  opacity: 1;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.modal-wrap .state-success .close, .modal-wrap .state-fail .close, .modal-capture .state-success .close, .modal-capture .state-fail .close, .modal-state .state-success .close, .modal-state .state-fail .close {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}
.modal-wrap .state-success .success-btn, .modal-wrap .state-fail .success-btn, .modal-capture .state-success .success-btn, .modal-capture .state-fail .success-btn, .modal-state .state-success .success-btn, .modal-state .state-fail .success-btn {
  background: #DA29CD;
}
.modal-wrap .state-success .fail-btn, .modal-wrap .state-fail .fail-btn, .modal-capture .state-success .fail-btn, .modal-capture .state-fail .fail-btn, .modal-state .state-success .fail-btn, .modal-state .state-fail .fail-btn {
  background: #0324C8;
}
.modal-wrap .state-success p, .modal-wrap .state-fail p, .modal-capture .state-success p, .modal-capture .state-fail p, .modal-state .state-success p, .modal-state .state-fail p {
  padding: 20px 0;
}
.modal-wrap .state-success .btn, .modal-wrap .state-fail .btn, .modal-capture .state-success .btn, .modal-capture .state-fail .btn, .modal-state .state-success .btn, .modal-state .state-fail .btn {
  width: 100px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 12px;
  border-radius: 4px;
  color: #fff;
}
.modal-wrap .capture-modal, .modal-capture .capture-modal, .modal-state .capture-modal {
  width: 500px;
  height: 300px;
  background: #fff;
  padding: 20px 40px;
  opacity: 1;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.modal-wrap .capture-modal .close, .modal-capture .capture-modal .close, .modal-state .capture-modal .close {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}
.modal-wrap .capture-modal .capture, .modal-capture .capture-modal .capture, .modal-state .capture-modal .capture {
  width: 120px;
  height: 50px;
  margin-bottom: 20px;
}
.modal-wrap .capture-modal .capture img, .modal-capture .capture-modal .capture img, .modal-state .capture-modal .capture img {
  border-radius: 4px;
  width: 100%;
  height: 100%;
}
.modal-wrap .capture-modal input, .modal-capture .capture-modal input, .modal-state .capture-modal input {
  width: 260px;
  border: 1px solid #ddd;
  height: 30px;
  border-radius: 4px;
}
.modal-wrap .capture-modal .submit, .modal-capture .capture-modal .submit, .modal-state .capture-modal .submit {
  width: 100px;
  height: 30px;
  background: #DA29CD;
  font-size: 14px;
  text-align: center;
  line-height: 30px;
  color: #fff;
  margin-top: 30px;
  border-radius: 4px;
}
.modal-wrap .modal, .modal-capture .modal, .modal-state .modal {
  width: 700px;
  height: 550px;
  background: #fff;
  padding: 20px 40px;
  opacity: 1;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal-wrap .modal .header, .modal-capture .modal .header, .modal-state .modal .header {
  width: 620px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal-wrap .modal .header .logos, .modal-capture .modal .header .logos, .modal-state .modal .header .logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #0122C5;
  font-size: 20px;
}
.modal-wrap .modal .header .logos img, .modal-capture .modal .header .logos img, .modal-state .modal .header .logos img {
  width: 45px;
  height: 35px;
  margin-right: 20px;
}
.modal-wrap .modal .tab-content, .modal-capture .modal .tab-content, .modal-state .modal .tab-content {
  margin-top: 20px;
  margin-left: 40px;
  position: relative;
}
.modal-wrap .modal .tab-content .tab-bar, .modal-capture .modal .tab-content .tab-bar, .modal-state .modal .tab-content .tab-bar {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  color: #999;
  cursor: pointer;
}
.modal-wrap .modal .tab-content .tab-bar .active, .modal-capture .modal .tab-content .tab-bar .active, .modal-state .modal .tab-content .tab-bar .active {
  color: #000;
}
.modal-wrap .modal .tab-content .view-content, .modal-capture .modal .tab-content .view-content, .modal-state .modal .tab-content .view-content {
  margin-top: 20px;
  height: 350px;
  overflow: auto;
}
.modal-wrap .modal .tab-content .view-content .select-type, .modal-capture .modal .tab-content .view-content .select-type, .modal-state .modal .tab-content .view-content .select-type {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal-wrap .modal .tab-content .view-content .select-type .address, .modal-capture .modal .tab-content .view-content .select-type .address, .modal-state .modal .tab-content .view-content .select-type .address {
  height: 30px;
}
.modal-wrap .modal .tab-content .view-content .select-type select, .modal-capture .modal .tab-content .view-content .select-type select, .modal-state .modal .tab-content .view-content .select-type select {
  height: 30px;
  width: 260px;
  color: #666;
  border: 1px solid #ccc;
}
.modal-wrap .modal .tab-content .view-content .title, .modal-capture .modal .tab-content .view-content .title, .modal-state .modal .tab-content .view-content .title {
  font-size: 12px;
  color: #666;
  margin-bottom: 15px;
}
.modal-wrap .modal .tab-content .view-content .detail, .modal-wrap .modal .tab-content .view-content .sub-detail, .modal-capture .modal .tab-content .view-content .detail, .modal-capture .modal .tab-content .view-content .sub-detail, .modal-state .modal .tab-content .view-content .detail, .modal-state .modal .tab-content .view-content .sub-detail {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.modal-wrap .modal .tab-content .view-content .detail .item, .modal-wrap .modal .tab-content .view-content .sub-detail .item, .modal-capture .modal .tab-content .view-content .detail .item, .modal-capture .modal .tab-content .view-content .sub-detail .item, .modal-state .modal .tab-content .view-content .detail .item, .modal-state .modal .tab-content .view-content .sub-detail .item {
  margin-bottom: 15px;
}
.modal-wrap .modal .tab-content .view-content .error, .modal-capture .modal .tab-content .view-content .error, .modal-state .modal .tab-content .view-content .error {
  color: Red;
  font-size: 10px;
  padding-top: 3px;
}
.modal-wrap .modal .tab-content .view-content .error-line, .modal-capture .modal .tab-content .view-content .error-line, .modal-state .modal .tab-content .view-content .error-line {
  border: 1px solid red;
}
.modal-wrap .modal .tab-content .view-content .member-list, .modal-capture .modal .tab-content .view-content .member-list, .modal-state .modal .tab-content .view-content .member-list {
  position: relative;
}
.modal-wrap .modal .tab-content .view-content .member-list .tit, .modal-capture .modal .tab-content .view-content .member-list .tit, .modal-state .modal .tab-content .view-content .member-list .tit {
  font-size: 12px;
  padding-bottom: 3px;
}
.modal-wrap .modal .tab-content .view-content .member-list .tit span, .modal-capture .modal .tab-content .view-content .member-list .tit span, .modal-state .modal .tab-content .view-content .member-list .tit span {
  font-size: 10px;
  color: #ccc;
}
.modal-wrap .modal .tab-content .view-content .member-list .add-member, .modal-capture .modal .tab-content .view-content .member-list .add-member, .modal-state .modal .tab-content .view-content .member-list .add-member {
  font-size: 12px;
  color: #0023D0;
  position: absolute;
  bottom: -20px;
  right: 0;
  cursor: pointer;
}
.modal-wrap .modal .tab-content .view-content .member-list .member-detail .sub-item, .modal-capture .modal .tab-content .view-content .member-list .member-detail .sub-item, .modal-state .modal .tab-content .view-content .member-list .member-detail .sub-item {
  position: relative;
}
.modal-wrap .modal .tab-content .view-content .member-list .member-detail .sub-item .delete-member, .modal-capture .modal .tab-content .view-content .member-list .member-detail .sub-item .delete-member, .modal-state .modal .tab-content .view-content .member-list .member-detail .sub-item .delete-member {
  font-size: 12px;
  color: red;
  position: absolute;
  bottom: 20px;
  right: 0;
  cursor: pointer;
}
.modal-wrap .modal .tab-content .view-content .member-list .member-detail .sub-tit, .modal-capture .modal .tab-content .view-content .member-list .member-detail .sub-tit, .modal-state .modal .tab-content .view-content .member-list .member-detail .sub-tit {
  font-size: 10px;
  color: #666666;
  padding-bottom: 5px;
}
.modal-wrap .modal .tab-content .view-content select, .modal-capture .modal .tab-content .view-content select, .modal-state .modal .tab-content .view-content select {
  height: 30px;
  width: 260px;
  color: #666;
  border: 1px solid #ccc;
}
.modal-wrap .modal .tab-content .view-content input, .modal-capture .modal .tab-content .view-content input, .modal-state .modal .tab-content .view-content input {
  width: 260px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-indent: 5px;
}
.modal-wrap .modal .tab-content .next, .modal-capture .modal .tab-content .next, .modal-state .modal .tab-content .next {
  width: 100px;
  height: 30px;
  background: #DA29CD;
  font-size: 14px;
  text-align: center;
  line-height: 30px;
  color: #fff;
  border-radius: 4px;
  position: absolute;
  right: 0;
  bottom: -50px;
}

.hide {
  display: none;
}